@model Musikall.Models.Artist

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Artist", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Artist</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArtistName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArtistName)
            @Html.ValidationMessageFor(model => model.ArtistName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.About)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.About)
            @Html.ValidationMessageFor(model => model.About)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Introduction)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Introduction)
            @Html.ValidationMessageFor(model => model.Introduction)
        </div>

        <div class="editor-label">
            Upload Image
        </div>
        <div class="editor-field">
            <input type="file" name="image" />
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
