@model PagedList.PagedList<Musikall.Models.TroubleData>
@using PagedList.Mvc

@{
    ViewBag.Title = "DataCheck";
}

<h2>DataCheck</h2>

@Html.ActionLink("Refresh", "RefreshDataCheck")

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            @Musikall.Resources.Strings.Type
        </th>
        <th>
            Item
        </th>
        <th>
            Operation
        </th>
        <th>
            Trouble
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.IId
            </td>
            <td>
                @item.ControllerName
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", item.ControllerName, new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trouble)
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("DataCheck", new { page }), new PagedListRenderOptions { LinkToPreviousPageFormat = "Pre" })
